# Python / ROS 2
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
dist/
build/
install/
log/
*.egg-info/
/ros2_ws

# Docusaurus
.docusaurus/
node_modules/
.env

# General
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
